<!-- templates/invitations/invitation_create.html -->
{% extends "base_flow.html" %}

{% block title %}家族の招待 | おうちカレンダー{% endblock %}

{% block flow_left %}
    <a
        href="{% url 'families:family_settings' %}"
        aria-label="家族設定へ戻る"
        class="link-reset"
    >
        ×
    </a>
{% endblock %}

{% block page_title %}
    <div
        style="
            text-align: center;
        "
    >
        家族を招待する
    </div>
{% endblock %}

{% block content %}
    <style>
        /* invitation_create.html専用 */

        .invitation-box {
            border: 1px solid #35322E;
            border-radius: 15px;
            padding: 10px 24px;
            margin: 20px auto 0 auto;

            width: calc(100% - 32px);
            max-width: 560px;
            box-sizing: border-box;
        }

        .invitation-url {
            border: 1px solid #ccc;
            padding: 10px;
            background-color: white;
            overflow-wrap: anywhere;
            word-break: break-word;
            box-sizing: border-box;
        }
    </style>
    <div class="invitation-box">
        <p>
            以下のURLを家族に共有してください。<br>
            相手のアカウント登録が完了するとおうちカレンダーを共有できます。
            発行したURLは一度利用した時点で無効になります。
            また、招待URLの有効期限は発行から72時間です。
        </p>

        <p class="invitation-url">
            {{ invite_url }}
        </p>
    </div>

    <div
        style="
            display: flex;
            justify-content: center;
            margin-top: 5px;
            font-size: 10px;
        "
    >
        ＊有効期限：{{ expires_at_display }}
    </div>
{% endblock %}