<!-- templates/accounts/login.html -->
{% extends "base_auth.html" %}

{% block title %}ログイン | おうちカレンダー{% endblock %}

{% block page_title %}
<div 
  style="
    background-color: #8e95b8;
    color:black;
    padding: 14px 16px 14px 16px; /* 内側の余白 */
  "
>
  おうちカレンダー
</div>
{% endblock %}

{% block content %}
<style>
  /* login.html専用 */

  /* ログイン画面の入力欄 */
  .login-input {
    width: 240px;
    height: 36px;
    padding: 6px 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #888;
  }
</style>
<div
  style="
    margin-top: 80px; /* 外側の上余白 */
    display: flex; /* Flexboレイアウト。子要素の並び方を調整できるモード */
    flex-direction: column; /* 子要素を縦並び */ 
    align-items: center; /*  子要素を中央揃え */
  "
>
  {% if error %}
    <p style="color:#c85a5a;">{{ error }}</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    <div style="margin-bottom: 24px;">
      <label 
        for="email"
        style="
          display: block; /* 要素が横までいっぱいに広がり、縦に並んでいく */
          margin-bottom: 6px;
        "
      >
        メールアドレス
      </label>
      <input 
        type="email"
        name="email"
        id="email"
        class="login-input"
        required
      >
    </div>
    {% comment %}
    label：input が「何の入力欄か」を説明する項目名 
    input：ユーザーが文字を入力する欄（閉じタグなし）
    div：枠・区切り。input と label を ひとかたまりとしてまとめる箱

    type：何を書く箱か。「この箱にはメールアドレスを書いてほしい」という指定
    name：サーバに送るときの名前。「この箱の中身は、email という名前で送る」。Django には「request.POST["email"] == "test@example.com"」で届く
    id：目印（labelやCSS用）。「この箱にID（名前札）をつける」
    required：空欄NG（ブラウザチェック）。「ここは空欄のまま送信できません」というブラウザへのお願い
    {% endcomment %}

    <div style="margin-bottom: 18px;">
      <label
        for="password"
        style="
          display: block;
          margin-bottom: 6px;
        "
      >
        パスワード
      </label>
      <input
        type="password"
        name="password"
        id="password"
        class="login-input"
        required
      >
    </div>

    <div
      style="
        margin-top: 18px;
        text-align: center; /* ボタンを中央揃え */
      "
    >
      <button type="submit">ログイン</button>
    </div>
  </form>

  <p style="margin-top: 18px;">
    <a href="{% url 'accounts:signup' %}">
      アカウント登録
    </a>
  </p>
</div>
{% endblock %}