<!-- templates/accounts/password_change.html -->
{% extends "base_flow.html" %}

{% block title %}家族設定 | おうちカレンダー{% endblock %}

{% block flow_left %}
  <a
    href="{% url 'families:family_settings' %}"
    aria-label="家族設定画面へ戻る"
    class="link-reset"
  >
    ×
  </a>
{% endblock %}

{% block page_title %}
  <div
    style="
      text-align: center;
    "
  >
    パスワードを変更する
  </div>
{% endblock %}

{% block content %}
  <style>
    /* password_change.html専用 */

    /* 入力項目全体の枠 */
    .password-change-box {
      border: 1px solid #35322E;
      border-radius: 15px;
      padding: 24px;
      width: calc(100% - 32px);
      max-width: 560px;
      box-sizing: border-box;
      margin: 20px auto 0 auto;
    }

    /* 1つの入力項目 */
    .password-form-row {
      display: flex;
      align-items: center;
      margin: 12px 0;
    }

    /* 項目名 */
    .form-label {
      width: 200px;
      flex-shrink: 0;
    }

    /* 「：入力欄」 */
    .form-value {
      display: flex;
      align-items: center;
      gap: 6px;
      flex: 1;
      min-width: 0;
    }

    /* パスワード入力欄 */
    .form-value input {
      width: 100%;
      min-width: 0;
      box-sizing: border-box;
    }

    /* スマホ */
    @media (max-width: 480px) {
      .password-change-box {
        padding: 20px;
      }

      .form-label {
        width: 190px;
        font-size: 14px;
      }

      .form-value {
        gap: 4px;
      }
    }
  </style>
  <form method="post">
    {% csrf_token %}
    <div class="password-change-box">
      <div class="password-form-row">
        <label
          for="{{ form.old_password.id_for_label }}"
          class="form-label"
        >
          現在のパスワード
        </label>
        <div class="form-value">
          <span>：</span>
          {{ form.old_password }}
        </div>
      </div>
      {{ form.old_password.errors }}
      <div class="password-form-row">
        <label
          for="{{ form.new_password1.id_for_label }}"
          class="form-label"
        >
          新しいパスワード
        </label>
        <div class="form-value">
          <span>：</span>
          {{ form.new_password1 }}
        </div>
      </div>
      {{ form.new_password1.errors }}
      <div class="password-form-row">
        <label
          for="{{ form.new_password2.id_for_label }}"
          class="form-label"  
        >
          新しいパスワード(再入力)
        </label>
        <div class="form-value">
          <span>：</span>
          {{ form.new_password2 }}
        </div>
      </div>
      {{ form.new_password2.errors }}
    </div>

    <div
      style="
        display: flex;
        justify-content: center;
        font-size: 10px;
      "
    >
      <ul class="list-reset">
        <li>＊8文字以上で入力してください</li>
        <li>＊数字だけのパスワードは使えません</li>
        <li>＊よく使われるパスワードは使えません</li>
      </ul>
    </div>

    <div
      style="
        display: flex;
        justify-content: center;
        margin-top: 20px;
      "
    >
      <button type="submit">保存</button>
    </div>

  </form>
{% endblock %}