<!-- templates/accounts/password_change.html -->
{% extends "base_flow.html" %}

{% block title %}家族設定 | おうちカレンダー{% endblock %}

{% block flow_left %}
  <a href="{% url 'families:family_settings' %}" aria-label="家族設定画面へ戻る">×</a>
{% endblock %}

{% block page_title %}
  <div
    style="
      text-align: center;
    "
  >
    パスワードを変更する
  </div>
{% endblock %}

{% block content %}
  <style>
    /* password_change.html専用 */

    /* ラベル部分 */
    .form-label {
      display: inline-block;
      width: 210px; /* ラベルの横幅を固定 */
    }
  </style>
  <form method="post">
    {% csrf_token %}
    <div
      style="
        border: 1px solid #35322E; 
        border-radius: 15px; 
        padding: 24px;
        width: fit-content; 
        margin: 20px auto 0 auto; 
      "
    >
      <div>
        <label
          for="{{ form.old_password.id_for_label }}"
          class="form-label"
        >
          現在のパスワード：
        </label>
        {{ form.old_password }}
        {{ form.old_password.errors }}
      </div>
      <div>
        <label
          for="{{ form.new_password1.id_for_label }}"
          class="form-label"
        >
          新しいパスワード：
        </label>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
      </div>
      <div>
        <label
          for="{{ form.new_password2.id_for_label }}"
          class="form-label"  
        >
          新しいパスワード(再入力)：
        </label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
      </div>
    </div>

    <div
      style="
        display: flex;
        justify-content: center;
      "
    >
      <ul class="list-reset">
        <li>＊8文字以上で入力してください</li>
        <li>＊数字だけのパスワードは使えません</li>
        <li>＊よく使われるパスワードは使えません</li>
      </ul>
    </div>

    <div
      style="
        display: flex;
        justify-content: center;
        margin-top: 20px;
      "
    >
      <button type="submit">保存</button>
    </div>

  </form>
{% endblock %}