<!-- templates/accounts/signup.html -->
{% extends "base_auth.html" %}

{% block title %}新規アカウント登録 | おうちカレンダー{% endblock %}
{% block page_title %}新規アカウント登録{% endblock %}

{% block auth_left %}
  {% if not invitation_token %}
    <a href="{% url 'accounts:login' %}" aria-label="ログイン画面へ戻る">×</a>
  {% endif %}
    {% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data"> {# 「登録ボタンを押したら、POSTという方法でサーバに送る」宣言 #}{# ファイルを含むフォーム送信をするときには enctype の追加が必須#}
  {% csrf_token %} {# Djangoの“なりすまし防止”の安全装置。POSTフォームには必須 #}
  
  {# 招待URL経由で来たときだけ、招待トークンをhiddenで一緒に送る #}
  {% if invitation_token %}
    <input type="hidden" name="invitation_token" value="{{ invitation_token }}">
    <p>
      この画面は、家族からの招待を受けた方専用のアカウント登録画面です。<br>
      登録が完了すると、この家族グループのおうちカレンダーを共有できます。
    </p>
  {% endif %}
  
  {# フォーム全体に関わるエラーを表示する場所 #}
  {% if form.non_field_errors %}
    <div class="form-errors">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <p>
    {{ form.name.label_tag }}
    {{ form.name }}
    {{ form.name.errors }}
  </p>

  <p>
    {{ form.email.label_tag }}
    {{ form.email }}
    {{ form.email.errors }}
  </p>

  <p>
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    {{ form.password1.errors }}
  </p>

  <p>
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    {{ form.password2.errors }}
  </p>

  <p>
    {{ form.image.label_tag }}
    {{ form.image }}
    {{ form.image.errors }}
  </p>

  <p>
    <label>個人カラー</label>
  </p>

  {# display: flex; → 横並び。flex-wrap: wrap; → はみ出したら折り返しOK。gap: 10px; → 余白つける。要素同士のすき間。#}
  <div style="display: flex; flex-wrap: wrap; gap: 10px;">
  
    {# formに設定した選択肢を1つずつ取り出す #}
    {# value = 0,1,2... の数字 #}
    {# hex = "#ff7f7f" などの色コード #}

    {% for value, hex in form.fields.color_code.choices %}
    
      {# 最初の「選択してください」は表示しない #}
      {% if value %}
      
        {# カーソルを指マークにする。クリックできることを示す #}
        <label style="cursor: pointer;">
        
          {# ラジオボタン（実際の入力データ） #}
          <input
            type="radio"
            name="color_code"
            value="{{ value }}"
            {% if form.color_code.value == value|stringformat:"s" %}checked{% endif %}
          >{# value を文字列に変換し今の値（編集時なら保存されてる値）と同じなら checked をつける → 編集時やバリデーションエラー時に選択状態を維持するため #}

          {# 色の見た目 #}
          {# display: inline-block; → spanは普通だとサイズ指定できないがこれでwidth / height が効くように #}
          {# background-color: {{ hex }}; → その色で塗りつぶす #}
          {# border: 1px solid #ccc; → 薄いグレーの枠。#}
          {# margin-left: 0px; inputとの間の左の余白 #}
          <span style="display: inline-block; width: 15px; height: 15px; background-color: {{ hex }}; border: 1px solid #ccc; margin-left: 0px;"></span>
        </label>
      {% endif %}
    {% endfor %}
  </div>

  {{ form.color_code.errors }}

  <button type="submit">登録</button> {# type="submit" があるとこのボタンを押した瞬間に、form の中身を送信するという特別な役割 #}
</form>{# 送信先は、form タグで決まっている。action がない場合「今表示しているURL（住所）」に送信。実際に受け取るのは「URLを処理する関数：signup_view（人）」。#}
{% endblock %}