<!-- templates/accounts/user_profile_edit.html -->
{% extends "base_flow.html" %}

{% block title %}家族設定 | おうちカレンダー{% endblock %}

{% block flow_left %}
 <a href="{% url 'families:family_settings' %}"> × </a>
{% endblock %}

{% block page_title %}
 {{ user_obj.name|default:"私" }}の設定を編集する
{% endblock %}

{% block content %}
 <form method="post" enctype="multipart/form-data">
   {% csrf_token %}

   {# フォーム全体エラー #}
   {% if form.non_field_errors %}
      <div class="form-errors">
         {{ form.non_field_errors }}
      </div>
   {% endif %}

   <p>
      {{ form.name.label_tag }}
      {{ form.name }}
      {{ form.name.errors }}
   </p>

   <p>
      {{ form.email.label_tag }}
      {{ form.email }}
      {{ form.email.errors }}
   </p>

   {# 個人アイコン #}
   <div>
      <p>{{ form.image.label }}:</p>

      {# 現在のアイコン画像を表示する #}
      {% if user_obj.image %}
         <p>
            <img src="{{ user_obj.image.url }}" alt="個人アイコン" width="80">
         </p>
      {% endif %}

      {# 新しい画像を選ぶ欄 #}
      <p>
         {{ form.image }}
         {{ form.image.errors }}
      </p>
   </div>

   <button type="submit">保存</button>
 </form>
{% endblock %}