<!-- templates/accounts/user_profile_edit.html -->
{% extends "base_flow.html" %}

{% block title %}家族設定 | おうちカレンダー{% endblock %}

{% block flow_left %}
 <a href="{% url 'families:family_settings' %}"> × </a>
{% endblock %}

{% block page_title %}
 {{ user_obj.name|default:"私" }}の設定を編集する
{% endblock %}

{% block content %}
 <form method="post" enctype="multipart/form-data">
   {% csrf_token %}

   {# フォーム全体エラー #}
   {% if form.non_field_errors %}
      <div class="form-errors">
         {{ form.non_field_errors }}
      </div>
   {% endif %}

   <p>
      {{ form.name.label_tag }}
      {{ form.name }}
      {{ form.name.errors }}
   </p>

   <p>
      {{ form.email.label_tag }}
      {{ form.email }}
      {{ form.email.errors }}
   </p>

   {# 個人アイコン #}
   <div>
      <p>{{ form.image.label }}:</p>

      {# 現在のアイコン画像を表示する #}
      {% if user_obj.image %}
         <p>
            <img src="{{ user_obj.image.url }}" alt="個人アイコン" width="80">
         </p>
      {% endif %}

      {# 新しい画像を選ぶ欄 #}
      <p>
         {{ form.image }}
         {{ form.image.errors }}
      </p>
   </div>

   <p>
    <label>個人カラー</label>
   </p>

   {# display: flex; → 横並び。flex-wrap: wrap; → はみ出したら折り返しOK。gap: 10px; → 余白つける。要素同士のすき間。#}
   <div style="display: flex; flex-wrap: wrap; gap: 10px;">
    {# formに設定した選択肢を1つずつ取り出す #}
    {# value = 0,1,2... の数字 #}
    {# hex = "#ff7f7f" などの色コード #}

    {% for value, hex in form.fields.color_code.choices %}
    
      {# 最初の「選択してください」は表示しない #}
      {% if value %}
      
        {# カーソルを指マークにする。クリックできることを示す #}
        <label style="cursor: pointer;">
        
          {# ラジオボタン（実際の入力データ） #}
          <input
            type="radio"
            name="color_code"
            value="{{ value }}"
            {% if form.color_code.value == value|stringformat:"s" or form.fields.color_code.initial|stringformat:"s" == value|stringformat:"s" %}checked{% endif %}
          >{# value を文字列に変換し今の値（編集時なら保存されてる値）と同じなら checked をつける → 編集時やバリデーションエラー時に選択状態を維持するため #}

          {# 色の見た目 #}
          {# display: inline-block; → spanは普通だとサイズ指定できないがこれでwidth / height が効くように #}
          {# background-color: {{ hex }}; → その色で塗りつぶす #}
          {# border: 1px solid #ccc; → 薄いグレーの枠。#}
          {# margin-left: 0px; inputとの間の左の余白 #}
          <span style="display: inline-block; width: 15px; height: 15px; background-color: {{ hex }}; border: 1px solid #ccc; margin-left: 0px;"></span>
         </label>
      {% endif %}
    {% endfor %}
   </div>

  {{ form.color_code.errors }}

   <button type="submit">保存</button>
 </form>
{% endblock %}