<!-- templates/schedule/create_choice.html -->
{% extends "base_flow.html" %}
{% block title %}予定・記録作成選択 | おうちカレンダー{% endblock %}

{% block flow_right %}
    {% if request.GET.next %}
        <a href="{{ request.GET.next }}" aria-label="戻る">×</a>
    {% else %}
        {# dateはURLの一部（必須）。URLパラメータ。/ouchi-calendar/schedule/day/2026-02-23/になる。#}
        <a href="{% url 'schedule:day' date %}" aria-label="予定・記録概要へ戻る">×</a>
    {% endif %}
{% endblock %}

{% block content %}
<div>
    {# dateはURLの後ろの追加情報（オプション）。クエリパラメータ（GETパラメータ）。/ouchi-calendar/schedule/create/?date=2026-02-23になる。#}
    <a href="{% url 'schedule:schedule_create' %}?date={{ date }}">＋ 予定を作成（行事・勤務・通院など）</a>
    <div>
        これから先の予定や対応依頼を登録します
    </div>
</div>
<div>
    <a href="{% url 'records:create' %}?date={{ date }}">＋ 記録を作成（排便・欠席）</a>
    <div>
        すでに起きた子どもの出来事を記録します
    </div>
</div>
{% endblock %}