<!-- templates/schedule/schedule_confirm_delete.html -->
{% extends "base_flow.html" %}

{% block title %}予定・記録削除 | おうちカレンダー{% endblock %}

{% block content %}
<p>本当にこの予定・記録を削除しますか？</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">OK</button>
</form>

{% if schedule %}
    <a href="{% url 'schedule:schedule_edit' schedule.id %}">キャンセル</a>
{% elif record %}
    {% if record_type == "bowel" %}
        <a href="{% url 'records:bowel_edit' record.id %}">キャンセル</a>
    {% elif record_type == "absence" %}
        <a href="{% url 'records:absence_edit' record.id %}">キャンセル</a>
    {% endif %}
{% endif %}
{% endblock %}
