<!-- templates/families/family_settings.html -->
{% extends "base_app.html" %}

{% block title %}家族設定 | おうちカレンダー{% endblock %}
{% block page_title %}私の家族{% endblock %}

{% block content %}
 <section> {# 意味づけ用の区切りタグ。見出しごとの箱。1つのまとまり（セクション）#}
    <div>
      <h2 style="display: inline;"> {# style="display: inline;"見出しを改行しないで、横並びにしたい #}
      {{ request.user.name}}
      </h2>
      <a href="{% url 'accounts:user_profile_edit' %}" aria-label="私の設定を編集">✏️</a>
    </div>
    <p>Email：{{ request.user.email }}</p>
    <p>パスワード：********</p>
    <p>個人アイコン：</p>
    <p>
      <img
        src="{{ request.user.image.url }}"
        alt="{{ request.user.name }}の個人アイコン"
        width="40"
        style="border-radius:50%;"
      >
    </p>
    <p>個人カラー：未実装</p>
 </section>

 <p>
  <a href="{% url 'accounts:password_change' %}">※パスワードの変更はこちら</a>
 </p>
 
 <hr> {# Horizontal Rule（水平線）の略。「横線（区切り線）」を入れるタグ #}

 <section>
    <div>
      <h2 style="display: inline;">
        {{ family.name|default:"未設定(家族名)" }}家
      </h2>
      <a href="{% url 'families:family_profile_edit' %}" aria-label="苗字の設定を編集">✏️</a>
    </div>
    <p>家族アイコン：</p>
    {% if family.image %}
      <p>
        <img
          src="{{ family.image.url }}"
          alt="{{ family.name }}家の家族アイコン"
          width="40"
        >
      </p>
    {% else %}
     <p>未設定</p>
    {% endif %}
    <p>合同予定カラー：未実装</p>
  </section>

 <hr>

 <section>
  <h2>子どもメンバー</h2>
  {% if children %}
    <ul>
      {% for child in children %}
        <li>
          <img
            src="{{ child.image.url }}"
            alt="{{ child.name }}のアイコン"
            width="40"
            style="border-radius: 50%; vertical-align: middle;"
          >
          {{ child.name }}
          <a href="{% url 'children:child_edit' child.id %}" aria-label="子どもメンバーを編集">✏️</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>まだメンバーが登録されていません</p>
  {% endif %}
  <p>
    <a href="{% url 'children:child_create' %}">メンバーを追加する ＋ </a>
  </p>
 </section>
{% endblock %}