<!-- templates/families/setup_completed.html -->
 {% extends "base_flow.html" %}

{% block title %}家族設定登録完了 | おうちカレンダー{% endblock %}

{% block content %}
<section>
  <p>
    家族設定が完了しました！
  </p>

  <p>
    次はカレンダーから<br>
    予定や記録を作成してみましょう
  </p>

  {# 「はい」「いいえ」を押したときにフラグを True にしてから遷移したいので、aタグではなく form + button にする #}
  <form method="post" action="{% url 'families:finish_setup_completed' %}">
    {% csrf_token %}

    <div>
    {# はい → カレンダー画面へ #}
      <button
        type="submit"
        name="action"
        value="go_calendar"
      >
       はい
      </button>
    {# いいえ → 家族設定画面へ #}
      <button
        type="submit"
        name="action"
        value="back_settings"
      >
        いいえ
      </button>
    </div>
</section>
{% endblock %}