<!-- templates/children/child_list.html -->
{% extends "base_flow.html" %}

{% block content %}
<h1>子どもメンバー</h1>

{% if children %}
<ul> {# Unordered Listの略。順番のないリスト（箇条書き）を作るタグ #}
  {% for child in children %} {# 子どもを for で回して li を増やすことで一覧になる #}
  <li> {# List Itemの略。リストの1項目（1行）を作るタグ #}
  {{ child.name }}
    <a href="{% url 'children:child_edit' child.id %}">編集</a>
    <a href="{% url 'children:child_delete' child.id %}">削除</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>まだ子どもが登録されていません</p>
{% endif %}

<p>
  <a href="{% url 'children:child_create' %}">メンバーを追加する ＋ </a>
</p>
{% endblock %}